@import 'assets/scss/popper';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$labellingTool-primary: mat-palette($mat-indigo);
$labellingTool-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$labellingTool-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$labellingTool-theme: mat-light-theme($labellingTool-primary, $labellingTool-accent, $labellingTool-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($labellingTool-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/** Georeference */
.ol-scale-line-inner {
  background-color: rgba(31, 110, 168, 0.2);

  border-bottom: 3px solid;
  margin-left: 10px;
  margin-top: 5px;
  color: $dark_blue;
}
.ol-hidden {
  display: none;
}

.base_app_surface {
  .brooksErrors {
    position: absolute;
    z-index: 1000;
    top: 5px;
    left: 5px;
    background-color: rgba(255, 255, 0, 0.1);
    padding: 5px;
  }
}
