<label *ngIf="labelText" for="changeMapId" class="select-map-label">{{ labelText }}</label>
<select id="changeMapId" class="custom-select select-map" (change)="changeMapHandler($event)" [value]="mapStyle">
  <option value="light-v10">Light</option>
  <option value="dark-v10">Dark</option>
  <option value="outdoors-v11">Outdoors</option>
  <option value="streets-v11">Streets</option>
  <option value="satellite-v9">Satellite</option>
  <option value="satellite-streets-v11">Satellite Streets</option>
</select>
