.dockerignore
Dockerfile
__pycache__
*.pytest_cache
*.pyc
*.pyo
*.pyd
.Python
.coverage
.coverage.*
.cache
coverage.xml
*,cover
*.log
.git
.venv
.vscode
.idea
*egg-info
**node_modules
**splinter_images
*test_stats.xml
**ifcopenshell
*.next