@import 'Common/theme.scss';

.forgot-password-link {
  color: $outer-space-grey;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#login-dms-user {
  width: 100%;
  background-color: $outer-space-grey;
  color: $white;
  border: 0;

  &:hover {
    background-color: $storm-cloud-grey;
  }
}

form#login-user-form {
  width: 100%;
  margin-top: $unit * 5;

  .MuiInput-root {
    border: 1px solid $bright-grey;
    box-shadow: 0 0 0 3px transparent;
    padding: $unit;

    &:focus-within {
      border: 1px solid $storm-cloud-grey !important;
      box-shadow: 0 0 0 3px $silver-sand-grey;
    }
  }
}
