@import 'archilyse-ui-components/dist/theme.scss';

$navbar-height: 82px;
$header-font-size: 2.25rem; //36px Like, a lot

$header-margin: $unit * 5;
$chart-height: 453px;

.header {
  margin-top: $header-margin;
  margin-left: $header-margin;
}

body {
  background-color: $background-color;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 90%;
  padding: $unit * 2;
  padding-top: 0;

  h1,
  h2 {
    font-size: $base-font-size * 1.625;
    line-height: 28px;
  }
}

.primary-button,
.secondary-button {
  @media #{$extra-large-screen} {
    width: $button-width * 2.5;
    height: $button-heigth * 1.5;
  }
}

.disabled-button {
  background-color: grey;
  cursor: not-allowed;
}

button.small {
  width: 166.63px;
}

button.large {
  width: 315px;
}

.MuiSlider-root {
  color: $primary-color !important;

  & > .MuiSlider-rail {
    color: $background-color;
    opacity: 1;
    border-radius: 2px;
    height: 2px;
  }

  & > .MuiSlider-mark {
    display: none;
  }

  & .MuiSlider-markLabel,
  & .MuiSlider-valueLabel {
    font-family: 'Barlow';
  }
}

.MuiSlider-root.main-slider {
  color: white !important;

  & > .MuiSlider-rail {
    color: $primary-color;
  }

  .MuiSlider-thumb {
    border: 1px solid $primary-color;
  }

  & .MuiSlider-markLabel,
  & .MuiSlider-valueLabel {
    color: $primary-color;
  }
}

.MuiFormControlLabel-label {
  font-family: 'Barlow', sans-serif;
}

.Mui-checked {
  color: $primary-color !important;
}

h1,
h2 {
  font-size: $header-font-size;
  line-height: 36px;
}

h1 {
  color: $secondary-color;
  font-weight: 600;
  margin-bottom: $unit;
}

h2 {
  color: $secondary-color;
  font-weight: 400;
  margin-top: 0;
}

h3 {
  color: $primary-color;
}

input {
  color: $secondary-color;
}

footer.global-footer {
  position: absolute;
  bottom: $unit;
  color: $secondary-color;
  right: $unit * 2;
}

.simulation-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .info-tooltip {
    margin-right: $unit / 2;
  }
}

.slider-separator {
  border-top: 1px solid $background-color;
  width: 125%;
  margin-left: -30px;
  margin-right: -30px;

  &.last-separator {
    margin-bottom: $unit;
  }
}

.bar-chart-container {
  flex: 1;
}

.slider-title {
  color: $secondary-color;
  font-weight: 600;
  margin-bottom: $unit / 2;
  display: flex;
  justify-content: space-between;

  .info-tooltip {
    opacity: 0.6;
    display: inline-block;
    text-align: center;
  }
}

.slider-subtitle {
  margin-top: 0;
  color: $secondary-color;
  font-size: $base-font-size;
  line-height: 17px;
}

// @TODO: To be moved to a `main.scss` file soon (implies larger refacto).
@import './animations.scss';
@import './mixins.scss';
