$white: #ffffff;
$grey: #dee2e6;
$dark-grey: #808080;
$darker-grey: #4e4e4e;
$black: #2b2b2b;

$blue: #5c91cc;
$dark_blue: #2e67b1;

$red: #f25f5c;
$dark_red: #b71f33;

$yellow: #ffe066;
$orange: #fbac33;
$dark_orange: #ba7746;

$green: #3fba8f;
$dark_green: #008000;
