<nav *ngIf="navigationEnabled" class="navbar navbar-expand navbar-light bg-light">
  <ul class="navbar-nav">
    <li class="nav-item nav-item-editor" [ngClass]="isTabActive('editor')" (click)="navigateTo($event,'editor', app_status.editor)" >
      <a class="nav-link" [ngClass]="getTabStatus('editor')" href="#">Editor</a>
    </li>
    <li class="nav-item nav-item-classification" [ngClass]="isTabActive('classification')" (click)="navigateTo($event,'classification', app_status.classification)" >
      <a class="nav-link" [ngClass]="getTabStatus('classification')" href="#">Classification</a>
    </li>
    <li class="nav-item nav-item-georeference" [ngClass]="isTabActive('georeference')" (click)="navigateTo($event,'georeference', app_status.georeference)" >
      <a class="nav-link" [ngClass]="getTabStatus('georeference')" href="#">Georeference</a>
    </li>
    <li class="nav-item nav-item-splitting" [ngClass]="isTabActive('splitting')" (click)="navigateTo($event,'splitting', app_status.splitting)" >
      <a class="nav-link" [ngClass]="getTabStatus('splitting')" href="#">Splitting</a>
    </li>
    <li class="nav-item nav-item-linking" [ngClass]="isTabActive('linking')" (click)="navigateTo($event,'linking', app_status.linking)" >
      <a class="nav-link" [ngClass]="getTabStatus('linking')" href="#">Linking</a>
    </li>
  </ul>
</nav>
<app-log-out></app-log-out>

