@import '../common/theme.scss';

.selected-view-left-sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;

  .sidebar-navigation-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .sidebar-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .sidebar-navigation-container,
  .sidebar-buttons {
    .active {
      background-color: $davys-grey;
      border-left: 3px solid $white;
      border-radius: 0;
      width: auto;

      #icon {
        span {
          color: $white !important;
        }
      }
    }
  }
}
