@import '../../theme.scss';

.heatmap-canvas-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  canvas {
    width: 100%;
    height: 100%;
    outline: none;
    @media only percy {
      pointer-events: none;
    }
  }

  .loading-indicator {
    position: absolute;

    &.fully {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50px);
    }

    &.partially {
      right: $unit * 2;
      bottom: $unit;
    }
  }
}
