@import 'Common/theme.scss';

$row-height: $unit * 5.6;
$cell-padding: $unit * 2;
$header-color: #d9d9d9;

.breadcrumb {
  width: 90%;
  margin-bottom: $unit * 2;
}

.building-list {
  width: 90%;

  thead.building-list-header {
    padding: 20px;

    background-color: $header-color;
    width: 100%;
    height: $row-height;

    th {
      padding: $cell-padding;
      text-align: left;
      font-weight: normal;
    }

    th.building-sortable-header {
      cursor: pointer;
    }
  }

  td {
    padding: $cell-padding;
  }

  td.building-name {
    display: flex;
    align-content: baseline;
    cursor: pointer;
  }

  td.completed {
    color: green;
  }

  td.in_progress {
    color: $website-brand-color;
  }

  td.failed {
    color: red;
  }

  td.add-button {
    display: flex;
    color: blue;
    cursor: pointer;

    p {
      margin-top: 2px;
    }
  }

  td.edit-building-button {
    cursor: pointer;
  }
}

.crud-modal {
  background-color: white;
  padding: 40px;

  outline: none;

  button {
    width: 100%;
  }
}
